@import "stream-chat-react/dist/css/v2/index.css";
@use "../utils";

.str-chat {
    --str-chat__message-list-background-color: var(--color-light-bg);
    --str-chat__message-input-background-color: var(--color-light-surface);
    --str-chat__message-textarea-color: var(--color-light-primary-text);

    --str-chat__message-textarea-border-block-start: 0px;
    --str-chat__message-textarea-border-inline-start: 0px;
    --str-chat__message-textarea-border-block-end: 0px;
    --str-chat__message-textarea-border-inline-end: 0px;
    --str-chat__message-textarea-background-color: var(--color-light-bg);

    --str-chat__message-send-color: var(--color-light-primary);
    --str-chat__message-send-disabled-color: var(--color-light-secondary-text);
    --str-chat__message-textarea-border-radius: 8px;

    --str-chat__own-message-bubble-background-color: var(
        --color-light-secondary
    );
    --str-chat__deleted-message-background-color: var(--color-light-surface);
    --str-chat__message-bubble-background-color: var(--color-light-surface);
    --str-chat__own-message-bubble-color: var(--color-dark-primary-text);
    --str-chat__message-bubble-color: var(--color-light-primary-text);
    --str-chat__background-color: var(--color-dark-surface);
}

.dark .str-chat {
    --str-chat__message-list-background-color: var(--color-dark-surface);
    --str-chat__message-input-background-color: var(--color-dark-bg);
    --str-chat__message-textarea-color: var(--color-dark-primary-text);

    --str-chat__message-textarea-border-block-start: 0px;
    --str-chat__message-textarea-border-inline-start: 0px;
    --str-chat__message-textarea-border-block-end: 0px;
    --str-chat__message-textarea-border-inline-end: 0px;
    --str-chat__message-textarea-background-color: var(--color-dark-surface);

    --str-chat__message-send-color: var(--color-dark-primary);
    --str-chat__message-send-disabled-color: var(--color-dark-secondary-text);
    --str-chat__message-textarea-border-radius: 8px;

    --str-chat__own-message-bubble-background-color: var(
        --color-light-secondary
    );
    --str-chat__deleted-message-background-color: var(--color-dark-bg);
    --str-chat__message-bubble-background-color: var(--color-dark-bg);
    --str-chat__own-message-bubble-color: var(--color-dark-primary-text);
    --str-chat__message-bubble-color: var(--color-dark-primary-text);
    --str-chat__background-color: var(--color-dark-surface);
}
